/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    
}

a {
    color: inherit;
    text-decoration: none;
}



.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    
    
}
h1,h2{
    font-size: 22px;
}
.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

nav{
    display:flex;
    justify-content: space-between;
    align-items:center;
    width: 100%;
    
}

nav img{
    width: 61px;
    height: 19px;

}
nav .menu-navigation{
    display:flex;
    list-style:none;
    align-items: flex-end;
    gap: 68px;
    height: 35px;
}

nav .menu-navigation .item-navigation:hover{
    border-top: 2px solid #0065FC;
    color:#0065FC;
    padding-top: 15px;
}

header{
    gap: 35px;
    margin-bottom: 20px;

}

header h1{
    margin-bottom: 8px;
}

header p{
    margin-top: 0px;
    
}

form{
    border-radius: 15px;
    border-width: 1px; 
}
.search-form {
    width: 100%;
    max-width: 377px;
    border: 1px solid #F2F2F2;
}
.search{
    display: flex;
    height: 48px;

}

.buttonlocalisation {
    border: none;
    width: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px 0 0 8px;
    

}

form i {
    width: 14px;
    height: 18px;
    top: 15px;
    left: 18px;

}

.searchtext{ 
    display:flex;
    max-width:234px; 
    width: 100%;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    border: none;
    
}

.buttonsearch { 
    background: #0065FC;
    color: #F2F2F2;
    border: none;
    padding: 0 24px;
    font-size: 18px;
    font-weight: 700;
    border-radius: 0 7px 7px 0;

}
.button-items{
        display: flex;
        width;
    }

.filtres{
    display:flex;
    gap: 15px;
    margin-bottom: 30px;
    margin-top: 30px;
    align-items: center;
    
}



.filtres p{
    margin:0px;
    font-weight: 700;
    font-size: 18px;
    line-height: 100% 

}

.filtres button {
    height: 50px;
    padding-top: 4px;
    padding-right: 19px;
    padding-bottom: 4px;
    padding-left: 19px;
    border-radius: 25px;
    border-width: 2px;
    font-weight: bold;
    border: 2px solid #D9D9D9;
    background-color: #ffffff;
    font-size: 17px;
    margin-right: 15px;
    
}

.filtres i{
    font-size: 22px;

}


.search-icone{
    display: none;
}

.filtres button:hover {
    background-color: #DEEBFF;
}

.info{
    display:flex;
    gap:10px;
}
.info i{
    width: 24px;
    height: 24px;
}

.hebergementsamarseille {
    margin-bottom: 33px; 
}

.hebergement-cards{
    display: flex;
    flex-wrap: wrap;           
    gap: 20px;  
}

.hebergement-cards .hebergement-card{
    flex: 1 1 calc((100% - 40px) / 3); 
    box-sizing: border-box;
}

.hebergement-card .card img{
    width: 100%;
    height: 120px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  
}
.hebergement-card .card{
    margin-top: 0;
    box-sizing: border-box; 
   
}

.card:active {
  transform: scale(0.97);
  box-shadow: 0 2px 5px black;
}


.hebergement-card .card-txt{
    padding-left: 15px;
   

}
.hebergement-card .card-title {
    margin-top: 10px; 
    margin-bottom: 0; 

}

.hebergement-card .card-subtitle {
    margin-bottom:0 ;
    margin-top: 5px;

}

.hebergement-card .card-rating {
    padding-left: 15px;

}

.hebergements h4{
    margin-top: 35px;

}

.activites{ 
    padding: 30px;
    
}



.activites-cards{
    display:flex;
    gap:30px;
   
}

.activites-card .card{
    padding:0;
    padding-bottom: 5px;

}
.activites-card{
    width: 100%; 
    border-radius: 20px;
    
}
.activites-card img{

    width: 100%;
    height: 380px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}

.activites .card-content{
    padding-left:20px;
    
}

footer{
    display:flex;
    background-color: var(--main-bg-color);
    box-sizing: border-box;
   
}

.footer-title{
    display:flex;
    width: 100%;  
     
}

.footer-card{
    display:flex;
    flex-direction: column;
    width:100%
}

footer li{
    list-style: none;
    margin-bottom: 15px;
    
}

footer h3{
    padding-left:20px;
    margin-bottom: 0px;
}

footer ul{
    padding-left:20px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .main-container{
        padding:20px;
    }
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
        align-items: flex-start;
    }
    
    .filtres{
        display: block;
    
     }
    .filtres p{
        padding-bottom: 20px;

    }

    .filtres button{
        display: inline-block;
        margin-right: 15px;
        
    }
   
    .populaires {
        width: 100%;
        margin-top: 50px;
    }
    

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
    
    .activites-cards .activites-card .card{
     height: 100%;

    }
    .activites-title{
        width:100%;
    }
    
    .activites-card .card img{
        height: 200px ;
    }

    
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    .main-container{
        padding:0;
    }
    body{
        margin:0;
    }
    nav {
        flex-direction: column;
        width: 100%;
     
    }

    nav img{
        padding:30px;
     
    }

    nav .menu-navigation{
        width:100%;
        padding-left: 0;
        gap:0;
          
    }

    .buttontext{
        display: none;
        
    }
    .buttonsearch{
        border-radius: 15px;
    }
    .search-icone{
        display: inline;
    }
    
    .hebergements-and-populaires{
        flex-direction: column-reverse;

    }
    .populaires{
        margin-top: 0;
        margin-bottom: 50px;
    }
    .menu-navigation .item-navigation{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items:flex-start;
        border-bottom: 2px solid #f2f2f2;      

    }
    .menu-navigation .item-navigation a{
        padding-bottom: 0px;
        
    
    }
    

    nav .menu-navigation .item-navigation:hover{
        border-bottom: 2px solid #0065FC;
        border-top:none;
        color:#0065FC;
       

    }
    header{
        margin: 15px;
    }
        
    .populaires-cards, .activites-cards,.hebergement-cards,.footer-title{
       display:flex;
        flex-direction: column; 
    }
    .populaires-cards a{
        width: 100%;
    }

    .filtres button {
        margin: 0;
        font-size: 16px;
        margin-bottom: 20px;
        width: 162px;
        padding: 0;
        font-size: 14px;
      

    }

    .search-form{
        max-width:348px;
    }
    .button-items{
        flex-wrap: wrap;
        gap: 15px;
    }
    .button-items button {
    flex: 0 0 calc(50% - 10px); 
    margin-bottom: 10px;
  }
   
}


